<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <center>
      <h1 class="contact-title">ログイン</h1>
      <p>時間割（仮）へようこそ！</p>
    </center>
    <div>
      <center>
        <div>
          <ion-input [(ngModel)] = "user_id" class="textline" type="id" name="user_id" placeholder="ユーザー名"></ion-input>
        </div>
        <br>
        <div>
          <ion-input [(ngModel)] = "pass" class="textline" type="password" name="pass" placeholder="パスワード"></ion-input>
        </div>
        <div>
          <ion-input [(ngModel)] = "server_id" class="textline" type="id" name="server_id" placeholder="サーバーID"></ion-input>
        </div>
        <ion-button class="btn2" fill="clear" type="button" (click)="gosignup();"><u>アカウントを持っていない場合</u></ion-button>
        <br>
        <div class="er">
          {{error}}
        </div>
        <ion-button class="btn1" type="button" (click)="login();" (click)="send_localstorage()">login</ion-button>
      </center>
    </div>
  </ion-list>
</ion-content>
