  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let c of commentList">
    <ion-card-content>{{c.text}}</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
     <ion-input [(ngModel)] ="Message" type="text" placeholder="メッセージを入力" name="Message"></ion-input>
     <ion-buttons slot="end">
       <ion-button slot="end" color="primary" (click)="input()">
         Send
         <ion-icon name="send"></ion-icon>
       </ion-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-footer>
 