<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      カレンダー
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #template let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
        <div *ngFor="let displayEvent of tm.events" class="calendar-event" tappable
             (click)="onEventSelected(displayEvent.event)"
             [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
            <ng-template 
              [ngTemplateOutlet]="eventTemplate"
              [ngTemplateOutletContext]="{displayEvent:displayEvent}">
            </ng-template>
        </div>
    </div>
  </ng-template>

  <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onRangeChanged)="reloadSource(startTime, endTime)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30">
        [dayviewNormalEventSectionTemplate]="template"
        [monthviewDisplayEventTemplate]="templates">
  </calendar>

</ion-content>