<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <center>
      <h1 class="contact-title">サインアップ</h1>
      <p>時間割（仮）を始めよう！</p>
    </center>
    <div>
      <center>
        <div>
          ユーザー名
          <ion-input [(ngModel)] = "user_id" class="textline" type="id" name="user_id" placeholder="半角英数記号で2~20文字"></ion-input>
          パスワード
          <ion-input [(ngModel)] = "pass" class="textline" type="password" name="pass" placeholder="半角英数記号で5~30文字"></ion-input>
          パスワード(確認)
          <ion-input [(ngModel)] = "pass_again" class="textline" type="password" name="pass_again" placeholder="パスワードをもう一度入力してください"></ion-input>
          サーバーID
          <ion-input [(ngModel)] = "server_id" class="textline" type="id" name="server_id" placeholder="6桁の数字"></ion-input>
        </div>
        <div class="er">{{error}} {{error1}}</div>
        <br>
        <ion-button class="btn1" type="button" (click)="signup();" (click)="send_localstorage()">login</ion-button>
      </center>
    </div>
  </ion-list>
</ion-content>